@import "../styles";

.qr-container {
  display: grid;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 100vh;

  .entry-option {
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: $display-shadow;
    background-color: $white;
    height: 400px;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  span {
    color: $orange;
    font-size: 30px;
  }

  button {
    @extend %main-button;
    margin-top: 10px;
  }

  @include md {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
}

.entry-message {
  @include md {
    margin-top: 30px;
  }
}
