@import "../styles";

.form {
  max-width: 300px;
  margin-bottom: 30px;

  h2 {
    margin: 20px 0;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  button {
    @extend %main-button;
    margin: 10px;
  }

  .error-message {
    margin-top: 10px;
    color: $red;
  }

  .warning-message {
    margin-top: 10px;
    color: $orange;
  }

  a {
    color: $orange;
    font-size: 14px;
  }

  .phone-number::-webkit-inner-spin-button,
  .phone-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.input-wraper {
  display: grid;
  border: 1px;
  padding: 5px 0;

  input {
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    height: 60px;
    border: 1px solid $grey;
    background-color: $white;
    color: $black;
    font-family: $font;

    &:focus {
      outline: none;
      border: 1px solid $orange;
    }
  }
}

.file-label {
  padding-left: 20px;
  font-size: 16px;
  line-height: 60px;
  background-color: $white;
  color: $grey;
  height: 60px;
  border-radius: 5px;
  border: 1px solid $grey;
  font-family: $font;

  &:hover {
    cursor: pointer;
    border: 1px solid $orange;
  }
}

input[type="file"] {
  display: none;
}
