@import "../styles";

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    @extend %main-button;
    width: 250px;

    @include sm {
      width: 150px;
    }
  }
}
