@import "../styles";

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    @extend %main-button;
    width: 200px;

    @include sm {
      margin: 10px 10px 0 10px;
      width: 200px;
    }
  }
}
