@import "../styles";

.rules-questiuons-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  width: 70%;

  @include sm {
    margin: 30px auto;
    width: 80%;
  }

  h1 {
    color: $orange;
    margin-right: 30px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .rules-questions {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    background: $white;
    box-shadow: $display-shadow;
    border-radius: 5px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  button {
    @extend %main-button;

    @include sm {
      width: 200px;
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 20px;

  @include sm {
    margin: 30px auto;
    width: 90%;
  }

  .warning-message {
    padding: 50px;
    border-radius: 5px;
    color: $red;
    background: $white;
    box-shadow: $display-shadow;
    text-align: center;
    width: 90%;
    text-transform: none;

    @include sm {
      padding: 30px;
    }
  }

  .orangepass-message {
    padding: 50px;
    border-radius: 5px;
    color: $orange;
    background: $white;
    box-shadow: $display-shadow;
    text-align: center;
    width: 90%;
    text-transform: none;

    @include sm {
      padding: 30px;
    }
  }

  h1 {
    margin-top: 50px;
    color: $orange;
  }

  p {
    margin-top: 10px;
  }

  a {
    color: $orange;
  }

  button {
    @extend %main-button;
    margin-top: 100px;
  }
}
