@import "./config";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  font-family: $font;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  user-select: none;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 200px;
  }
}

%main-button {
  width: 300px;
  height: 60px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  background-color: $orange;
  font-family: $font;
  color: $white;
  box-shadow: $button-shadow;

  &:hover {
    background-color: $white;
    border: 1px solid $orange;
    color: $orange;
  }

  &:focus {
    outline: none;
  }
}

%secondary-button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  font-family: $font;
  box-shadow: $button-shadow;

  &:focus {
    outline: none;
  }
}

.bar {
  position: fixed;
  background-color: $orange;
  height: 7px;
}
